ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button:focus {
  outline: 0 !important;
}

:root {
  --primary-color: rgb(255, 122, 53);
  --primary-color-darken: rgb(230, 77, 0);
  --dark-color: rgb(51, 92, 103);
  --light-color: rgb(221, 164, 72);
  --danger-color: rgb(229, 118, 87);
  --success-color: rgb(92, 178, 98);
  --text-light: rgb(255, 255, 255);
  --text-dark: rgb(0, 0, 0);
  /* HEADER COLORS */
  --header-landing-bg: transparent;
  /* LANDING PAGE */
  --hero-btn-bg: transparent;
  --how-tabs-bg: transparent;
  /* DASHBOARD PAGE */
  --add-new-btn-bg: rgb(255, 122, 53);
  --add-new-btn-cl: rgb(255, 255, 255);
  --container-min-width: 350px;
  --container-max-width: 1100px;
}
