ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  /* HEADER COLORS */
  --header-bg: rgb(255, 122, 53);
  --header-landing-bg: transparent;
  --nav-logo-color: rgb(255, 255, 255);
  --nav-link-color: rgb(255, 255, 255);
  --header-link-bg-hover: rgb(230, 77, 0);
  --hero-desc-color: rgb(255, 255, 255);
  --hero-btn-border: rgb(255, 255, 255);
  --hero-btn-border-hover: rgb(255, 122, 53);
  --hero-btn-bg: transparent;
  --hero-btn-bg-hover: rgb(255, 122, 53);
  --hero-btn-color: rgb(255, 255, 255);
  --add-new-btn-bg: rgb(255, 122, 53);
  --add-new-btn-cl: rgb(255, 255, 255);
}
