.container {
  text-align: center;
}

.label {
  text-align: left;
  color: var(--primary-color-darken);
}

.label:first-child {
  margin-top: 2rem;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
