.navigation {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  font-size: 2rem;
  color: var(--text-light);
}

.linkContainer {
  margin: 0;
}

.link {
  display: block;
  padding: 1rem 1rem;
  color: var(--text-light);
  transition: all 0.3s;
  cursor: pointer;
}

@media only screen and (max-width: 724px) {
  .mobileOnly {
    display: block;
  }
  .mobileLinks {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light-color);
    clip-path: polygon(100% 0, 100% 13%, 70% 100%, 0 100%, 0 0);
    transition: all 0.4s;
  }
  .mobileMenuClose {
    composes: mobileLinks;
    transform: translate(-100%, -100%);
  }
  .mobileMenuOpen {
    composes: mobileLinks;
    transform: translate(0, 0);
  }
  .link:hover {
    color: black;
  }
}

.desktopOnly {
  display: none;
}

@media only screen and (min-width: 725px) {
  .mobileOnly {
    display: none;
  }
  .desktopOnly {
    display: block;
  }

  .desktopLinks {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .linkLanding {
    composes: link;
  }

  .link:hover {
    background: var(--primary-color-darken);
  }

  .linkLanding:hover {
    color: var(--primary-color);
    background: transparent;
  }
}
