.container {
  margin-top: 3rem;
  grid-column: content;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-column-gap: 3rem;
}
.wrapperIn {
  composes: wrapper;
  animation: fadeIn 0.5s ease-in;
}
.wrapperExit {
  composes: wrapper;
  animation: fadeOut 0.5s ease-out;
}

.wrapper:nth-child(even) {
  direction: rtl;
}

.wrapper:nth-child(even) .text {
  direction: ltr;
}

.step {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  margin-right: 1rem;
  background: var(--primary-color-darken);
  border-radius: 50%;
  color: var(--text-light);
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
