.hero {
  grid-column: left-gutter/end;
  /* Photo by @anniespratt on Unsplash */
  background: radial-gradient(
      ellipse farthest-corner at center,
      rgba(255, 255, 255, 0) 40%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../../images/hero-bg-employees.jpg") center;
  background-size: cover;
  padding: 4rem 2rem;
  height: 50vw;
  max-height: 80vh;
  color: var(--hero-desc-color);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-align: center;
}

.btn {
  border: 2px solid var(--hero-btn-border);
  border-radius: 10px;
  background: var(--hero-btn-bg);
  width: 10rem;
  color: var(--hero-btn-text);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  border-color: var(--hero-btn-border-hover);
  background: var(--hero-btn-bg-hover);
}
