.hero {
  grid-column: left-gutter/end;
  /* Photo by @anniespratt on Unsplash */
  background: radial-gradient(
      ellipse farthest-corner at center,
      rgba(255, 255, 255, 0) 40%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../../images/hero-bg-employees.jpg") center;
  background-size: cover;
  padding: 4rem 2rem;
  height: 50vw;
  max-height: 100vh;
  color: var(--text-light);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .hero {
    padding: 4rem 0.5rem;
  }
  .hero h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

.btn {
  border: 2px solid var(--light-color);
  border-radius: 10px;
  background: var(--hero-btn-bg);
  width: 10rem;
  color: var(--text-light);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  border-color: var(--primary-color);
  background: var(--primary-color);
}
