.about {
  grid-column: content;
  text-align: center;
  padding: 3rem 1rem;
}

.descriptionContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-column-gap: 3rem;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.featuresContainer > article {
  flex: 0 0 300px;
}

.icon {
  color: var(--primary-color-darken);
  font-size: 2rem;
}
