.header {
  /* grid-row: header;
    grid-column: left-gutter/right-gutter-end; */
  width: 100vw;
  height: 4rem;
  height: calc(auto + 1rem);
  position: fixed;
  top: 0;
  left: 0;
  background: var(--header-landing-bg, transparent);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.headerPrimary {
  composes: header;
  --header-landing-bg: rgb(255, 122, 53);
}

.topOfSitePixelAnchor {
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  top: 6rem;
}
