.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: [header] auto [main] 1fr [footer] auto;
  grid-template-columns: [left-gutter] 1fr [content] 90vw [right-gutter] 1fr;
}

.header {
  grid-row: header;
  grid-column: left-gutter/right-gutter-end;
  background: var(--header-bg);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.main {
  grid-row: main;
  grid-column: left-gutter/right-gutter-end;
  display: inherit;
  grid-template-columns: inherit;
}

.footer {
  grid-row: footer;
  grid-column: left-gutter/right-gutter-end;
}
