.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: [header] auto [main] 1fr [footer] auto;
  grid-template-columns:
    [left-gutter] 1fr [content] minmax(
      var(--container-min-width),
      var(--container-max-width)
    )
    [right-gutter] 1fr [end];
}

.main {
  grid-row: main;
  grid-column: left-gutter/end;
  /* ALL DIRECT CONTENT INSIDE MAIN NEEDS TO DEFINE ITS GRID POSITION */
  display: inherit;
  grid-template-columns: inherit;
}

.footer {
  grid-row: footer;
  grid-column: left-gutter/end;
}
