.container {
  background: var(--danger-color);
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1rem 2.5rem 1rem 1rem;
  max-width: 80vw;
  text-transform: capitalize;
}

.containerAnimated {
  composes: container;
  animation: slideOut 0.3s ease-out;
}

.inner {
  max-width: var(--container-max-width);
}

.btn {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translate(0, -50%);
  padding: 0.1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes slideOut {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, -10rem);
  }
}
