.howHero {
  grid-column: left-gutter/end;
  background: linear-gradient(
    to top right,
    var(--primary-color-darken),
    var(--primary-color)
  );
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
}

.howHeroTitle {
  margin: 0;
}

.container {
  grid-column: content;
}

.tabsContainer {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.tab {
  width: 7rem;
  padding: 0;
  background: var(--how-tabs-bg);
  border: 2px solid var(--light-color);
}

.tab:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.tab:last-child {
  border-left: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.activeTab {
  composes: tab;
  background: var(--primary-color);
  color: var(--text-light);
  border-color: var(--primary-color);
}
