.paymentBtn {
  position: relative;
  background: var(--dark-color);
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s ease-out;
  overflow: hidden;
}

.paymentBtn:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  background: #437a89;
}

@media only screen and (max-width: 724px) {
  .paymentBtn {
    margin: 1rem 0;
  }
}

/* Ripple Effect */

.paymentBtn:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: #3ea9e5;
  border-radius: 100%;
  opacity: 0.6;
  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.paymentBtn:not(:active):after {
  animation: ripple 1s ease-out;
}

/* fixes initial animation run, without user input, on page load.
   */
.paymentBtn:after {
  visibility: hidden;
}

.paymentBtn:focus:after {
  visibility: visible;
}
