.menu {
  position: fixed;
  z-index: 10;
  right: 3rem;
  top: calc((3.5rem / 2) - (36px / 2));
  cursor: pointer;
}

.active {
  composes: menu;
}

.bar {
  width: 1.7rem;
  height: 4px;
  margin: 6px 0;
  border-radius: 5px;
  background: white;
  transition: all 0.4s;
}

.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 8px);
}
.active .bar:nth-child(2) {
  transform: scale(0);
}
.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -8px);
}
